Lab3.v1i.yolokeras/
Lab3.v1i.yolov4pytorch/
Lab3.v1i.yolokeras/
*.png
*.mp4                                                        
*.jpg                                                       
*.aux                                                          
*.bbl                                                          
*.fdb_latexmk                                                  
*.fls                                                          
*.log                                                          
*.out                                                                                                                    
*.synctex.gz                                                   
*.tex                                                          
MaskF1_curve.png                                                     
*.bib                                                      
Santiago_Garcia_Lab3.ipynb                                           
*.zip        
*.txt        
*.avi                             
Lab3.v1i.yolokeras